@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica');

section.back-matter.wdtax-index header {
  margin-top: 1rem;
}

section.back-matter.wdtax-index h1 {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
section.back-matter.wdtax-index h1::before {
  height: 0px;
  width: 0px;
  margin: 0px;
}
section.back-matter.wdtax-index h2  {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 1.5rem;
  text-align: left;
}
section.back-matter.wdtax-index h2::before {
  height: 0px;
  width: 0px;
  margin: 0px;
}
section.back-matter.wdtax-index article header{
  margin-bottom: 1rem;
}
header.wdtax-header img.wdtax-thumbnail {
  float: right;
  clear: left;
  width: 5rem;
}
dl.wdtax-index-list dd {
  font-size: 0.9rem;
  margin-left: 1rem;
}

div.block-reading-toc {
  padding: 2rem;
}

h4.wdtax-relation {
  font-size: 1rem;
  margin-bottom: 0px;
}

ul.wdtax-terms {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 1rem;
  margin-left: 0px;
  font-size: 1rem;
  padding-inline-start: 0px;
}

li.wdtax-term {
  padding-left: 20px;
  text-indent: -20px;
}
