@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica');

section.back-matter.wdtax-index header {
  margin-top: 1rem;
}

section.back-matter.wdtax-index h1 {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
section.back-matter.wdtax-index h1::before {
  height: 0px;
  width: 0px;
  margin: 0px;
}
section.back-matter.wdtax-index h2  {
  font-family: 'IM Fell Double Pica', serif;
  font-size: 1.5rem;
  text-align: left;
}
section.back-matter.wdtax-index h2::before {
  height: 0px;
  width: 0px;
  margin: 0px;
}
section.back-matter.wdtax-index article header{
  margin-bottom: 1rem;
}
header.wdtax-header img.wdtax-thumbnail {
  float: right;
  clear: left;
  width: 5rem;
}
dl.wdtax-index-list dd {
  font-size: 0.9rem;
  margin-left: 1rem;
}
