// Omniana2 (Web)
$type: 'web';
$phone-width: 516px;
$tablet-width: 960px;

//over-rides screen width option set through control panel
main#main div#content.site-content {
  @media (min-width: $phone-width ) {
    width: $phone-width;
  }
  @media (max-width: $phone-width ) {
    width: auto;
  }

}


@import 'fonts';
@import '../components/colors';
@import '../components/elements';
@import '../components/specials';
@import '../components/media';
@import '../components/pages';
@import '../components/section-titles';
@import '../components/toc';
@import '../components/front-matter';
@import '../components/site';
