// Omniana2 (Web)
$type: 'web';
$phone-width: 516px;
$tablet-width: 960px;

@import 'fonts';
@import '../components/colors';
@import '../components/elements';
@import '../components/specials';
@import '../components/media';
@import '../components/pages';
@import '../components/section-titles';
@import '../components/toc';
@import '../components/front-matter';
@import '../components/site';
