// Elements
$body-font-family: $font-1 !default;
$h1-font-family: $font-1 !default;
$h2-font-family: $font-1 !default;
$h2-font-family: $font-1 !default;
$para-align: ( web: justify) !default;
// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/elements';

// Add custom SCSS below these imports and includes.
@import 'components/elements';
main *+p {
    margin-top: 0px;
    text-indent: 1em;
}

.chapter a {
  text-decoration: none;
}

.chapter sup {
  font-size: 0.7em;
}

div.centered p {
  text-align: center;
}
