// Pages
// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/pages';

// Add custom SCSS below these imports and includes.
@import 'components/pages';

@if $type == 'web' {
  main {
    background-color: #fff
  }
  div#content {
    background-color: $old-paper;
  }
  section.chapter,
  section.front-matter,
  section.back-matter {
    @media (min-width: $phone-width ) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @media (max-width: $phone-width ) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    padding-bottom: 4rem;
    padding-top: 3rem;
  }
  section.chapter p {
    font-size: 1.1em;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }
  .page-num {
    font-family: $font-2;
    position: absolute;
    left: 0em;
    text-indent: 0px;
    width: 2em;
    text-align: right;
    color: rgb(200,204,232);
    font-size: 0.7em;
  }
} @else {
  .page-num {
    display: none;
  }
}
