// Section Titles
$section-title-font-family: $font-1 !default;
$section-title-font-style: normal !default;
$section-title-font-weight: 500 !default;
$section-title-font-size:(
  epub: 1.2em,
  prince: 1.2em,
  web: 1.2em
) !default;
$section-title-margin-bottom:(
  epub: 0px,
  prince: 1cm,
  web: 0px
) !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/section-titles';

// Add custom SCSS below these imports and includes.
@import 'components/section-titles';

section.chapter header {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
