// Special Elements
$small-font-size: 0.9rem !default;
$small-line-height: 1.2rem !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/specials';

// Add custom SCSS below these imports and includes.
@import 'components/specials';

div.poem {
  margin-left: 3rem;
  font-size: $small-font-size;
  line-height: $small-line-height;
  margin-bottom: 0.5rem;
}
div.poem + div.quote-cite {
  margin-top: -0.5rem;  //don't want gap below poem if next line is citation
  font-size: $small-font-size;
  line-height: $small-line-height;
}
div.poem p{
  text-indent: 0px;
}

.quote-cite {
//  margin-top: -0.3em;
  margin-bottom: 0.5em;
  margin-left: 2.5em;
  font-style: italic;
  text-align: right;
}
.quote-cite p {
  margin-top: 0px;
  font-style: italic;
  text-align: right;
  text-indent: 0px;
}

div.footnotes ol {
  padding-left: 0px;
}

div.footnotes ol li {
  font-size: $small-font-size;
  line-height: $small-line-height;
}
